<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    <!-- 扫描interceptor（切面注入） -->
    <context:component-scan base-package="zjobs.controller"/>
    <!-- 注释驱动 -->
    <!--<mvc:annotation-driven/>-->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <!-- 解决json数据中传输中文乱码问题 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <!-- 解决IE不能解析使用 application/json 类型返回的数据问题 -->
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"
                  p:supportedMediaTypes="text/html"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:interceptors>
        <!--登入拦截-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="zjobs.filter.UserLogInInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>